@use "STYLE/_variable" as *;

%border-base {
  border: $border_value solid black;
}


.border-0         {  @extend %border-base; }
.border-1         {  @extend %border-base;  border-color: red;   }
.border-2         {  @extend %border-base;  border-color: green; }
.border-3         {  @extend %border-base;  border-color: blue;  }
.border-4         {  @extend %border-base;  border-color: yellow;}
.border-5         {  @extend %border-base;  border-color: cyan;  }
.border-6         {  @extend %border-base;  border-color: brown; }

