{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto"
}