@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

// ─── INIT ──────────────────────────────────────────────────────────────
.Portfolio-root {
    @include mix.full();
    .Portfolio-content{
        @include mix.full();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Portfolio-init-card{
            width: 65%;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            
            background-color: rgba(0, 0, 0, 0.200);
            border: solid saddlebrown 2px;
            header{
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 1rem;
            }
            .Portfolio-init-change-mode{
                padding: 1rem;
                width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
            .change-mode{
                padding: 0.4rem;
                width: 40%;
                border: solid saddlebrown 2px;
                background-color: rgba(0, 0, 0, 0.250);
                text-align: center;
                &:hover{
                    border: solid white 2px;
                }
            }
            button {
                color: red;
                padding: 0.5rem;
                background: none;
            }
        }
    }
}
