
@use "STYLE/_variable" as *;

@mixin full {
    height: $root_height;
    width: $root_width;
}
@mixin fullh { height: $root_height; }
@mixin fullw { width: $root_width; }

@mixin center {
    display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin text($varcolor : rgb(128, 128, 128)){

    p, span, strong, a, button, li, label, input, textarea, h1, h2, h3, h4, h5, h6{
        color: $varcolor;
        font-weight: 400;
        font-family: 'Press Start 2P', cursive;
        letter-spacing: 1px;
        text-decoration: none;
        border: none;
        margin: 0;
    }
    p, span, strong, a, button, li, label, input, textarea{
        font-size: 1.3rem;
    }
}


// @mixin cursor($type)
// {
// 	@if $type == "pointer" {
// 		cursor: url(".png") 5 5, pointer;
// 	}
// 	@else if $type == "grab" {
// 		cursor: url(".png") 5 5, grab;
// 	}
// 	@else if $type == "text" {
// 		cursor: url(".png") 5 5, text;
// 	}
// 	@else {
// 		cursor: url(".png") 5 5, auto;
// 	}
// }


@mixin icone {
    transition: all 0.2s;
	//  @include cursor("pointer");

    &:hover {
        scale: 1.05;
    }
    &:active{
        scale: 1.10;
    }
}


