@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Inviter-root{
    @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mix.text(black);

    .Explorateur-root {
        @include mix.full();
        li{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .Explorateur-undefined{
            p{font-size: 0.7rem;}
            @include mix.full();
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
    }

    .display{
        @include mix.full();
        
        .nav-bar{
            @include mix.fullw();
            height: 40px;
        }
        
        .display-file{
            @include mix.fullw();
            height: calc(100% - 40px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}