@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Inviter-root{
    @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mix.text(black);
    .explorateur{@include mix.full();}

    .explorateur,.explorateur ul {
        list-style-type: none;
        padding-left: 20px;
        margin: 0;
    }

    .display{
        @include mix.full();
        
        .nav-bar{
            @include mix.fullw();
            height: 40px;
        }
        
        .display-file{
            @include mix.fullw();
            height: calc(100% - 40px);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}