@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Inviter-root{
    @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mix.text(black);
}