@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;


.Explorateur-Comp ,.Explorateur-Comp  ul {
    display: flex;
    flex-direction: column;
    
    list-style-type: none;
    margin: 0;
    gap:0.3rem;
    padding: 0.2rem;
    li{
        padding: 0.2rem;
    border: 1px solid black;
    }
}
