// @use "STYLE/variable" as *;
//    var.$border_value;

@use "STYLE/_mixin" as mix;
//    @include mix.full;


.Hr-root {
    @include mix.full;
    overflow: hidden;

    hr {
        transition: opacity 0.2s;
        &:hover { opacity: 0.5; }
    }
}