@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Admin-root{
   @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mix.text(rgb(0, 255, 0));

}