@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Admin-root{
    padding: 1rem;
    @include mix.full();
    display: flex;
    flex-direction: column;
    
    @include mix.text(rgb(0, 255, 0));
    .error {color: rgb(255, 0, 0);}

    > div{
        flex: 1;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: solid rgb(0, 255, 0) 2px;
        background-color: rgba(63, 63, 63, 0.4);
    }



    .input-chat {
        @include mix.fullw();
        display: flex;
        flex-direction: row;

        background-color: rgba(0, 0, 0, 0);
        border-top: dashed rgb(0, 121, 0) 2px;
        
        p, button, input{
            padding: 0.5rem;
            background-color: inherit;
        }
        p{
            padding-right: 0;
            border-right: none;
            width: max-content;      // Permet au contenu de définir sa propre largeur
            white-space: nowrap;     // Interdit tout retour à la ligne
        }
        input {
            flex: 1;
            padding-left: 1ch;
            border-left: none;
            &:focus-visible {outline:none}
        }
    }
    
}