@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;


.Explorateur-root{

    .ExplorateurContextMenu-root{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        padding: 0.5rem;
        background-color: grey;
        border: solid 1px black;
        
        button{
            text-align: left;
            padding: 0.3rem;
            background-color: rgb(93, 93, 93);
            &:hover{
                background-color: black;
            }
        }
        
    }

    .Explorateur-Comp  {
        @include mix.full();
    }
} 
.Explorateur-Comp , .Explorateur-Comp ul {
    @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    margin: 0;
    gap:0.3rem;
    padding: 0.2rem;
    li{
        padding: 0.2rem;
        border: 1px solid black;
    }
}