.BackgroundPortfolioInit-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: -1;
    background-color: #000;
    overflow: hidden;

    .bg-static, .bg-matrix {
        height: 100%;
        position: relative;
        overflow: hidden;
        
        transition: width 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    }

    // --- Logique d'animation par états ---

    // 1. État par défaut : 50% / 50%
    &.focus-both {
        .bg-static { width: 50%; }
        .bg-matrix { width: 50%; }
    }

    // 2. Focus Gauche (Statique) : 100% / 0%
    &.focus-left {
        .bg-static { width: 100%; }
        .bg-matrix { width: 0%; }
    }

    // 3. Focus Droit (Matrix) : 0% / 100%
    &.focus-right {
        .bg-static { width: 0%; }
        .bg-matrix { width: 100%; }
    }

    .bg-static {
        background: url(MEDIA/bg.png) repeat;
        background-position: center; /* Pour que le motif glisse de manière esthétique */
    }
    
}