@use 'STYLE/mixin' as mix;
@use 'STYLE/_variable' as *;

.Inviter-root{
    @include mix.full();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mix.text(black);

    .Explorateur-root {
        @include mix.full();
        display: flex;
        flex-direction: column;
        gap: 0.5rem;   
        padding: 0.5rem;
        background-color: rgb(58, 58, 58);
        @include mix.text(white);
        li{ 
            font-size: 0.7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .Explorateur-undefined{
            p, li {font-size: 0.7rem;}
            @include mix.full();
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .btc-reset{color: black; padding: 0.5rem;}
    }
    .display {
        @include mix.full();
        display: flex;
        flex-direction: column;

        > hr {
            height: 3px;
            background: black;
            border: none;
            margin: 0px;
        }

        .display-file {
            flex-grow: 1;
            overflow: hidden;
            
            .codemirror-container {
                @include mix.full();
                font-size: 0.9rem;
                .cm-editor { 
                    background: none;
                    font-family: 'Press Start 2P', cursive !important;
            
                    .cm-scroller {
                        font-family: inherit;
                    }
                    
                    .cm-content, .cm-line {
                        font-family: inherit;
                    }
                }
            }
        }
    }
}